{% extends 'base.html.twig' %}

{% block body %}
    <section class="bg-primary" id="liste">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">Images</h2>
                    <br>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ image.id }}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{ image.titre }}</td>
                            </tr>
                            <tr>
                                <th>Legende</th>
                                <td>{{ image.legende }}</td>
                            </tr>
                            <tr>
                                <th>Fichier</th>
                                <td>{{ image.fichier }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="{{ path('image_edit', { 'id': image.id }) }}" class="btn btn-default btn-xl page-scroll">Editer l'image</a>
                    <a href="{{ path('image_index') }}">Retour à la liste</a>
                    {% form_theme delete_form  'bootstrap_3_horizontal_layout.html.twig' %}
                    {{ form_start(delete_form) }}
                        <input type="submit" class="btn btn-default" value="Effacer">   
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
